module/__pycache__/getDir.cpython-38.pyc
module/__pycache__/getFilePath.cpython-38.pyc
module/__pycache__/getPath.cpython-38.pyc
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
module/__pycache__/ini_parser.cpython-38.pyc
__pycache__/*

build/DiskSize_01/Analysis-00.toc
build/DiskSize_01/base_library.zip
build/DiskSize_01/DiskSize_01.exe.manifest
build/DiskSize_01/EXE-00.toc
build/DiskSize_01/PKG-00.pkg
build/DiskSize_01/PKG-00.toc
build/DiskSize_01/PYZ-00.pyz
build/DiskSize_01/PYZ-00.toc
build/DiskSize_01/warn-DiskSize_01.txt
build/DiskSize_01/xref-DiskSize_01.html
build/PC_OpState/Analysis-00.toc
build/PC_OpState/base_library.zip
build/PC_OpState/EXE-00.toc
build/PC_OpState/PC_OpState.exe.manifest
build/PC_OpState/PKG-00.pkg
build/PC_OpState/PKG-00.toc
build/PC_OpState/PYZ-00.pyz
build/PC_OpState/PYZ-00.toc
build/PC_OpState/Tree-00.toc
build/PC_OpState/Tree-01.toc
build/PC_OpState/warn-PC_OpState.txt
build/PC_OpState/xref-PC_OpState.html
build/WatchDog02/Analysis-00.toc
build/WatchDog02/base_library.zip
build/WatchDog02/EXE-00.toc
build/WatchDog02/PKG-00.pkg
build/WatchDog02/PKG-00.toc
build/WatchDog02/PYZ-00.pyz
build/WatchDog02/PYZ-00.toc
build/WatchDog02/Tree-00.toc
build/WatchDog02/Tree-01.toc
build/WatchDog02/warn-WatchDog02.txt
build/WatchDog02/WatchDog02.exe.manifest
build/WatchDog02/xref-WatchDog02.html
